<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
      <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
      <link href="/stylesheets/ripples.min.css" rel="stylesheet">
      <link href="/stylesheets/material-wfont.min.css" rel="stylesheet">
  </head>
  <body>
  <div class="bs-component">
      <div class="navbar navbar-inverse">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"><%= title %></a>
          </div>
          <div class="navbar-collapse collapse navbar-inverse-collapse">
              <ul class="nav navbar-nav">
                  <li><a href="/">Home</a></li>

              </ul>

              <ul class="nav navbar-nav navbar-right">
                  <li><a href="/aboutUs">About Us</a></li>
                  <li class="active"><a href="/privacy">Privacy</a></li>

              </ul>
          </div>
      </div>
  </div><!-- /example -->


  <div class="container">
      <div class="bs-docs-section">
          <div class="row">
              <div class="col-lg-12">
                  <div class="jumbotron">
                      <h1><%= subTitle %></h1>
                      <p>There are many proxies that claim to unblock video sites. Our free Web UnBlocker does not claim to stream tube sites and other flashed based sites, it does, and it does it fast. We are part of the most popular video proxy site network, Video Proxies, LLC and we bring the meaning back to proxy sites. Allow all sites to be unblocked, not just Facebook, Twitter and other social media sites, but the hardest sites to proxy, streaming media sites..</p>
                      <!--<p><a class="btn btn-primary btn-lg">Learn more</a></p>-->
                      <img class="center-block"  src="/images/ad1.jpg">

                      <p>Video Proxies, LLC has been releasing free Web UnBlocker sites for a while now, and we know how to keep them running fast. Our proxy sites unblock just about every site that a paid proxy unblocks, but actually, we do it better for free! With over 5,000,000 visits to our proxy sites each month, we take pride in having the best free Web UnBlocker websites on the internet for everyone to enjoy! </p>
                      <img class="center-block"  src="/images/ad2.png" height="250">
                      <br>

                      <div class="center-block">
                          © Web UnBlocker
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  </body>
  <script src="/javascripts/jquery-1.10.2.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/ripples.min.js"></script>
  <script src="/javascripts/material.min.js"></script>
  <script>
      $(document).ready(function() {
          $.material.init();
      });
  </script>
</html>